<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Chinese</h1>
            <span>Ho Chi Minh City University of Pedagogy</span>
            <span><address>HCMC, VN</address><time>2008 to 2012</time></span>
        </header>
        </article>
    
        <article>
        <header>
            <h1>Multimedia Technology</h1>
            <span>Lo<article>tus College</span>
            <span><address>HCMC, VN</address><time>1998 to 2000</time></span>
        </header>
    </article>
    
</section>
