<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Graphic Designer @ Doan Potters</h1>
            <span><address>Ho Chi Minh, VN</address><time>2015 to Present</time></span>
        </header>
        <p> Graphic, Products Catalogue, Mold-drawing for Production </p>
    </article>
    <article>
        <header>
            <h1>Technical Drawing Staff @ Scancom Vietnam</h1>
            <span><address>Ho Chi Minh, VN</address><time>2005 to 2015</time></span>
        </header>
        <p> 2D, 3D Technical Drawing for for Production </p>
    </article>
    <article>
        <header>
            <h1>3D Staff @ Design International</h1>
            <span><address>Ho Chi Minh, VN</address><time>2002 to 2005</time></span>
        </header>
        <p> 3D Jewelry Drawing Technician</p>
    </article>    
</section>
